#root {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100vw;

  --vBlue: #052939;
  --vCream: #fcedd8;
  --vGreen: #16DB93;
  --vGrey: #373F47;
  --vLightGrey: #788585;
  --vOrange: #eb452b;
  --vRed: #c11a2b;
  --vTeal: #46b59b;
  --vTurqouise: #017e7f;
  --vYellow: #efa032;

  --vBoxShadow: rgba(0, 0, 0, 0.4);
  --vDropShadow: rgba(0, 0, 0, 0.7);
}

.no-drag,
.no-user {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.no-select,
.no-user {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*====================
Text Styling
====================*/
.serif {
  font-family: "Times New Roman", Times, serif;
}
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
.cursive {
  font-family: 'Brush Script MT', cursive;
}

.color-blue {
  color: var(--vBlue);
}
.color-cream {
  color: var(--vCream);
}
.color-grey {
  color: var(--vGrey);
}
.color-green {
  color: var(--vGreen);
}
.color-lightgrey {
  color: var(--vLightGrey);
}
.color-orange {
  color: var(--vOrange);
}
.color-red {
  color: var(--vRed);
}
.color-yellow {
  color: var(--vYellow);
}

.svg-color-blue {
  fill: var(--vBlue);
}
.svg-color-cream {
  fill: var(--vCream);
}
.svg-color-grey {
  fill: var(--vGrey);
}
.svg-color-green {
  fill: var(--vGreen);
}
.svg-color-lightgrey {
  fill: var(--vLightGrey);
}
.svg-color-red {
  fill: var(--vRed);
}
.svg-color-yellow {
  fill: var(--vYellow);
}

.text-align-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.text-shadow-light {
  text-shadow: 0 0 1px var(--vCream);
}

.text-shadow-custom {
  text-shadow: 2.5px 2.5px 0px var(--vOrange), 
  5px 5px 0px var(--vYellow), 
  7.5px 7.5px 0px var(--vTeal), 
  10px 10px 0px var(--vTurqouise), 
  12.5px 12.5px 0px var(--vBlue), 
  5px 5px 15px var(--vDropShadow);
}

.text-shadow-custom-sm {
  text-shadow: 1.5px 1.5px 0px var(--vOrange), 
  3px 3px 0px var(--vYellow), 
  4.5px 4.5px 0px var(--vTeal), 
  6px 6px 0px var(--vTurqouise), 
  7.5px 7.5px 0px var(--vBlue), 
  9px 9px 15px var(--vDropShadow);
}

.text-shadow-custom-xsm {
  text-shadow: 1px 1px 0px var(--vOrange), 
  2px 2px 0px var(--vYellow), 
  3px 3px 0px var(--vTeal), 
  4px 4px 0px var(--vTurqouise), 
  5px 5px 0px var(--vBlue), 
  6px 6px 15px var(--vDropShadow);
}

/*====================
Backgrounds
====================*/
.bg-white {background-color: white;}
.bg-white-hover:hover {background-color: white;}

.bg-smoke {background-color: whitesmoke;}
.bg-smoke-hover:hover {background-color: whitesmoke;}

.bg-lightgrey {background-color: var(--vLightGrey);}
.bg-lightgrey-hover:hover {background-color: var(--vLightGrey);}

.bg-grey {background-color: var(--vGrey);}
.bg-grey-hover:hover {background-color: var(--vGrey);}

.bg-black {background-color: black;}
.bg-black-hover:hover {background-color: black;}

.bg-blue {background-color: var(--vBlue);}
.bg-blue-hover:hover {background-color: var(--vBlue);}

.bg-cream {background-color: var(--vCream);}
.bg-cream-hover:hover {background-color: var(--vCream);}

.bg-green {background-color: var(--vGreen);}
.bg-green-hover:hover {background-color: var(--vGreen);}

.bg-orange {background-color: var(--vOrange);}
.bg-orange-hover:hover {background-color: var(--vOrange);}

.bg-red {background-color: var(--vRed);}
.bg-red-hover:hover {background-color: var(--vRed);}

.bg-teal {background-color: var(--vTeal);}
.bg-teal-hover:hover {background-color: var(--vTeal);}

.bg-turqouise {background-color: var(--vTurqouise);}
.bg-turqouise-hover:hover {background-color: var(--vTurqouise);}

.bg-yellow {background-color: var(--vYellow);}
.bg-yellow-hover:hover {background-color: var(--vYellow);}

.bg-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.bg-noblur {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

/*====================
Borders
====================*/
.border-radius-xxsm {
  border-radius: 5px;
}

.border-radius-xsm {
  border-radius: 7.5px;
}

.border-radius-sm {
  border-radius: 10px;
}

.border-radius-md {
  border-radius: 15px;
}

.border-radius-lg {
  border-radius: 20px;
}

.border-shadow {
  box-shadow: 0 0 6px var(--vBoxShadow);
}

.border-shadow-sm {
  box-shadow: 0 0 2px var(--vBoxShadow);
}

.border-shadow-hover:hover,
.border-shadow-hover:active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
}

.border-shadow-hover:focus {
  outline: none;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

/*====================
Buttons
====================*/
.btn {
  border: none;
  border-radius: 5px;
  outline: none;
  vertical-align: middle;
}

.btn:hover {
  box-shadow: 0 2px 6px var(--vBoxShadow);
  opacity: 100%;
}

.btn:active {
  opacity: 100%;
  transition: 0ms;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

.btn:focus {
  outline: none;
}

/*====================
Flex Box
====================*/
.flex-column, .flex-column-start, .flex-column-end,
.flex-row, .flex-row-start, .flex-row-end {
  display: flex;
  align-items: center;
}

.flex-column, .flex-column-start, .flex-column-end {
  flex-direction: column;
}

.flex-row, .flex-row-start, .flex-row-end {
  flex-direction: row;
}

.flex-column, .flex-row {
  justify-content: center;
}

.flex-column-start, .flex-row-start {
  justify-content: start;
}

.flex-column-end, .flex-row-end {
  justify-content: end;
}

.flex-column-around, .flex-row-around {
  justify-content: space-around;
}

/*====================
Gradients
====================*/
.gradient-blue {
  background: linear-gradient(90deg, var(--vBlue), var(--vLightGrey));
  background-size: 1800% 600%;
}

.gradient-cream {
  background: linear-gradient(60deg, whitesmoke, var(--vCream), whitesmoke);
  background-size: 1000% 600%;
}

.gradient-green {
  background: linear-gradient(90deg, var(--vGreen), var(--vLightGrey));
  background-size: 1800% 600%;
}

.gradient-lightgrey {
  background: linear-gradient(45deg, var(--vGrey), var(--vLightGrey), var(--vGrey));
  background-size: 1000% 600%;
}

.gradient-lightgrey90 {
  background: linear-gradient(80deg, var(--vGrey), var(--vLightGrey), var(--vGrey));
  background-size: 1000% 600%;
}

.gradient-grey {
  background: linear-gradient(45deg, #000000, var(--vGrey));
  background-size: 1000% 600%;
}

.gradient-grey90 {
  background: linear-gradient(240deg, #000000, var(--vGrey));
  background-size: 1000% 600%;
}

.gradient-red {
  background: linear-gradient(90deg, var(--vRed), var(--vOrange));
  background-size: 1800% 600%;
}

.gradient-smoke {
  background: linear-gradient(60deg, whitesmoke, white, whitesmoke);
  background-size: 1000% 600%;
}

.gradient-yellow {
  background: linear-gradient(90deg, var(--vYellow), var(--vLightGrey));
  background-size: 1800% 600%;
}

.gradient-animated-fast {
  -webkit-animation: gradientscroll 5s ease infinite;
  -moz-animation: gradientscroll 5s ease infinite;
  animation: gradientscroll 5s ease infinite;
}

.gradient-animated-fast-infinite {
  -webkit-animation: gradientscroll-forward 5s infinite;
  -moz-animation: gradientscroll-forward 5s infinite;
  animation: gradientscroll-forward 5s infinite;
  animation-timing-function: linear;
}

.gradient-animated-slow {
  -webkit-animation: gradientscroll 60s ease infinite;
  -moz-animation: gradientscroll 60s ease infinite;
  animation: gradientscroll 60s ease infinite;
}

@-webkit-keyframes gradientscroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes gradientscroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradientscroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes gradientscroll-forward { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
@-moz-keyframes gradientscroll-forward { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
@keyframes gradientscroll-forward { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

/*====================
Icons
====================*/
.icon,
.icon-light,
.icon-bold {
  background-color: transparent;
  border: none;
  outline: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.icon-bold {
  filter: drop-shadow(0 0 4px var(--vDropShadow));
  -webkit-filter: drop-shadow(0 0 4px var(--vDropShadow));
}

.icon:hover,
.icon:active {
  filter: drop-shadow(0 0 4px var(--vDropShadow));
  -webkit-filter: drop-shadow(0 0 4px var(--vDropShadow));
}

.icon-light:hover,
.icon-light:active {
  filter: drop-shadow(0 0 5px white);
  -webkit-filter: drop-shadow(0 0 5px white);
}

.icon-bold:hover,
.icon-bold:active {
  filter: drop-shadow(0 0 4px black);
  -webkit-filter: drop-shadow(0 0 4px black);
}

.icon:active,
.icon-light:active,
.icon-bold:active {
  transition: 0ms;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

/*====================
Opacity
====================*/
.opacity-25 {
  opacity: 25%;
  transition: opacity 0.3s;
}
.opacity-50 {
  opacity: 50%;
  transition: opacity 0.3s;
}
.opacity-75 {
  opacity: 75%;
  transition: opacity 0.3s;
}
.opacity-100 {
  opacity: 100%;
  transition: opacity 0.3s;
}

/*====================
Shake-Animation
====================*/
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/*====================
Scrolling
====================*/
.scroll-snap-center {
  scroll-snap-align: center;
}
.scroll-snap-end {
  scroll-snap-align: end;
}
.scroll-snap-start {
  scroll-snap-align: start;
}
.scroll-smooth {
  scroll-behavior: smooth;
}

/*====================
Spinner
====================*/
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

/*====================
Margin & Padding
====================*/
.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}