
.ca-col-md-12-local{
  margin-top: 40px;
  background-color: rgb(5,41,57);
}

.required{
  color: red;
}

.ca-card-local{
  margin-top: 200px;
  margin: 0 auto;
  width: 50vw;
  padding: 10px;
  height: 640px;
}

.errorContainer{
  margin-top: 5px;
  height: 55px;
}

.form-submit-button{
  margin-top: 20px;
}
.createAccount{
  margin: 0 auto;
}
.header{
  height: 200px;
  border: 1px solid black;
}
.successRegistration{
  color: rgb(23,219,147);
}
.margin-for-anime{
  padding-top: 120px;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 700px){
  .card{
    width: 90%;
  }
}

.successfull-registration{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;

}

.successfull-registration-container{
  height: 200px;
  color: rgb(23,219,147);
}


